.animate{
    background-image: url('./../../public/defaultImage.jfif');
    background-size: contain;
    animation: image 2s  linear infinite ;
}

@keyframes image {
    from{
        top: 0;
        left: 0;
        background-color: #78bff8b4;
        
    }
    to{
        bottom: 0;
        
        background-color: #78bff8b4;

    }
}